table, td{
    /* border: solid black 5px;
    border-collapse: collapse; */
    padding: 10px;
}
body{
    background-color: rgba(20, 9, 9, 0.738);
}
h1{
    background-color: aliceblue;
    margin: auto;
    margin-left: 550px;
    margin-top: 50px;
    margin-right: 560px;
}
table{
    border: solid gray 2px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: azure;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(255, 255, 255);

}
button{
    padding: 10px;
    border-radius: 15px;
    border: hidden;
    color: black;
}
.git{
    background-color: rgb(255, 255, 5);
}

.dep{
    background-color: rgb(0, 185, 34);
}